[package]
name = "kdlfmt"
version = "0.0.7"
edition = "2021"
description = "A code formatter for kdl documents."
authors = ["Mads Hougesen <mads@mhouge.dk>"]
license = "MIT"
repository = "https://github.com/hougesen/kdlfmt"
keywords = ["kdl", "formatter", "pretty-printing", "code-formatter"]
homepage = "https://github.com/hougesen/kdlfmt"
readme = "README.md"
categories = ["development-tools", "command-line-utilities"]
rust-version = "1.74"

[dependencies]
clap = { version = "4.5.21", features = ["derive"] }
clap_complete = "4.5.38"
console = "0.15.8"
env_logger = "0.11.5"
ignore = "0.4.23"
kdl = "4.7.0"
log = "0.4.22"
miette = { version = "5.10.0", features = ["fancy"] }
