---
name: validate
on:
  push:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
jobs:
  lint:
    name: lint
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: Swatinem/rust-cache@v2
      - run: rustup toolchain install stable --profile minimal
      - run: rustup component add rustfmt clippy
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - run: cargo fetch
      - run: cargo fmt -- --check --color always
      - run: cargo clippy
      - run: cargo test
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --all-targets --workspace --codecov --output-path codecov.json
      - name: Upload code coverage
        uses: codecov/codecov-action@v5
        with:
          files: codecov.json
          slug: hougesen/kdlfmt
          token: ${{ secrets.CODECOV_TOKEN }}
  validate-github-action:
    name: validate-github-action
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [22]
    defaults:
      run:
        working-directory: ./github-action
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          check-latest: true
      - uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm i
      - run: npm run lint:biome
      - run: npm run lint:eslint
